.Menu{
    width: 4rem;
    height: 5px;
    background-color: grey;
    /* margin: 3px 0; */
  }


.moLogoPar {
    display: flex;
    justify-content: center;
}

.TheLogoCon{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    
}


.mLogoSub {
    width: 90%;
    display: flex;
    height: 4rem;
    align-items: center;
    /* border-bottom: 2px solid grey; */
    justify-content: space-between;
}

.MenuBar{
    height: 2rem;
}


.mobileHr{
    border-bottom: 2px solid #060606;
    font-weight: bold;
    height: 4px;
    color: black;
    background-color: black;

}

.selector{
    display: flex;
    flex-direction: column;
    align-items: right;
    position: absolute;
    background-color: rgb(239, 63, 136);
    width: 100%;
}



.coms {
    border-bottom: 0.5px solid #abaaaa82;
    width: 70%;
    text-align: center;
    /* background-color: azure; */
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: cursive;
}


